.angular-google-map-container, .angular-google-map {
    height: 100%;
    width: 100%;
}

.scroll{
    height: 100%;
}

.hood-name {
    height: 10%;
    font-size: 3em;
}

.bar-footer.bar-custom {
    background-color: black;
}

.footer-text {
    font-size: 2em;
    margin: auto;
    color: white;
    width: 100%;
}

.footer-text.custom-hood {
    color: black;
}

.neighborhood-name {
	margin: auto;
	font-size: 150%;
}
.wtfai-footer {
	text-align: center;
	line-height: 1.5em;
}

.wtfai-button {
	cursor: pointer;
}