<ion-content>
    <google-map data-tap-disabled="true" options="MapCtrl.mapSettings.options" draggable="true" control="MapCtrl.map" center="MapCtrl.mapSettings.center" zoom="MapCtrl.mapSettings.zoom">
        <polygon clickable="true" events="{click: MapCtrl.createClickHandler(hood)}" ng-repeat="hood in MapCtrl.neighborhoods" path="hood.geojson" stroke="hood.style.stroke" fill="hood.style.fill"></polygon>
	</google-map>
    <div class="buttons">
</ion-content>

<ion-footer-bar class="bar-dark bar-custom" style="background-color: {{ MapCtrl.currentHood.style.fill.color }}">
    <div ng-hide="MapCtrl.currentHood.name" ng-click="MapCtrl.wtfai()" class="footer-text wtfai-footer"><i class="icon ion-ios7-location-outline"></i>
    	Where the f*ck am I ?!?!
    </div>
    <div ng-show="MapCtrl.currentHood.name" class="footer-text wtfai-footer" ng-click="MapCtrl.wtfai()">
    	You're in F*cking {{ MapCtrl.currentHood.name }}!!
    </div>
</ion-footer-bar>
